*{
    margin:0;
    box-sizing:border-box ;
    
}

.container{
    max-width:360px;
    margin:60px auto;
 
}
Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input{
 width:100%;
 padding:20px 10px;
 background-color:black;
 font-family:monospace;
 color:white;
 font-size:2rem;
 text-align:end;
 border:none;
}
.buttons-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
}
.button{
  background-color:#ccc;
  border:1px solid black;
  padding-block: 20px;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;
}
.button:hover{
    background-color:white;
    cursor:pointer;
}
.orange{
    background-color:orange;
}
.span-2{
    grid-column:span 2 ;
}
.span-3{
    grid-column:span 3 ;
}